body{
    text-align: center;
    font-family: "Lora", serif;
    background: linear-gradient(135deg, #F5E8C7, #A3B18A, #52796F, #8D6855);
    margin: 0px;
}

.main-design {
    border: 4px solid #8d6855;
    width: 800px;
    border-radius: 10px;
    background-color: #F5E8C7;
    color: #52796F;
    margin: 10px auto 10px auto;
    padding: 10px;
}

.text-design{
    width: 800px;
    margin: 10px auto 10px auto;
    border: 4px solid #8d6855 ;
    border-radius: 10px;
    background-color: #F5E8C7;
    padding: 8px;
}

.img-design{
    width: 210px;
    border: 4px solid #C19A6B;
    border-radius: 10px;
}

.legend-text{
    color: #3C645A;
    background: linear-gradient(#C19A6B,#F5E8C7);
    font-size: 20px;
    text-shadow: 1px 1px 0px black;
    padding: 5px 60px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


#main-head {
    border: 4px solid #8d6855;
    border-radius: 10px;
    margin: 10px 8px 10px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Pictures/head-background.webp");
    background-position: center;
    background-size: cover;
}

#main-head h1 {
    color: #52796F;
    text-shadow: -2px 2px 1px black;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 100px;
    border: 2px solid #8D6855;
    padding: 5px 20px;
    background-color: #F5E8C7;
    border-radius: 10px;
}

#nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}

#nav-menu li {
    border: 2px solid #8D6855;
    padding: 5px 20px;
    background-color: #F5E8C7;
    text-align: center;
    border-radius: 5px;
    margin: 10px 5px 10px 5px ;
}

#nav-menu li :hover {
    background-color: #D4C2A8;
    color: #3C645A;
    border-color: #755646;
}

#nav-menu li a {
    text-decoration: none;
    color: #52796F;
    font-weight: bold;
}

#menu-table td {
    background-color: #F5E8C7;
    color: #44665d;
    padding: 10px;
    border: 1px solid #C19A6B;
    border-radius: 5px;
    text-align: center;
}

#menu-table th {
    background-color: #C19A6B;
    color: #FFFFFF;
    padding: 10px;
    border: 2px solid #8D6855;
    border-radius: 5px;
    text-align: center;
}

#img-container{
    display: flex;
    justify-content: space-between;
}

#memories-table {
    display: flex;
    justify-content: space-around;

}

#memories-table td{
    background-color: #F5E8C7;
    color: #44665d;
    padding: 10px;
    border: 2px solid #C19A6B;
    border-radius: 5px;
    text-align: center;
}

#memories-table th {
    background-color: #C19A6B;
    color: #FFFFFF;
    padding: 10px;
    border: 2px solid #8D6855;
    border-radius: 5px;
    text-align: center;
}

#opinion{
    margin-bottom: 50px;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#questions label {
    font-weight: bold;
    margin-bottom: 20px;
    padding: 6px;
}

#answers {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#answers input,#message {
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid #52796F;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FFF;
    box-sizing: border-box;
    width: 100%;
}

#text-area{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
}

#opinion-title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 20px;
}

#fav-item{
    display: flex;
    flex-direction: column;
    align-items:center;
}

#fav-item-question{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#fav-item-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #52796F;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
}

#fav-item-box div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#fav-item-box div label{
    margin-right: 20px;
    color: #52796F ;
}

#btn {
    padding: 10px 80px;
    border: 2px solid #8D6855;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    font-family: "Lora", serif;
    font-weight: bold;
    margin-bottom: 15px;
    color: #52796F
}

#btn:hover{
    background-color: #C19A6B;
    cursor: pointer;
}